body {
    font-family: 'Roboto', sans-serif;

}

header {
    position: relative;
    height: 53px; /*для липкой шапки */
    /* position: sticky; */
    z-index: 2; /*для липкой шапки */
}

/* Стили для "шапки" header nav */
nav {
     position: fixed; /*для липкой шапки */
     width: 100%; /*для липкой шапки */
    height: 53px;
    background: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px 13px 71px;
    margin: 0;
    /* Убираем метку (точку) со списка <UL> */
    list-style-type: none;
    
}

/* Стили для ссылок в nav */
.menu .menu_link {
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

/* Создаем разделители между ссылками в nav */
.menu .menu_item {
    /* Правая граница и стиль границы ( точечная) и цвет*/
    border-right: 2px dotted black;
    padding-right: 28px;
}

/* Создаем второй блок header */
.subheader {
    position: absolute;
    top: 53px; /*для липкой шапки */
    width: 100%;
    height: 87px;
    background-color: rgba(0,0,0, .6);

/* background: #000000; */
/* opacity: 0.6; */
/* Т.к у нас прозрачный только бекграунд фон, то св-во opacity нам не подходит, т.к колонки с текстом не прозрачные в макете */
/* Добавляем к заднему фону альфа-канал */
background-color: rgba(0, 0, 0, .6);

/* Чтобы растянуть задний фон блока "promo" на эту секцию, нужно сделать ее родителем. */


  /* z-index: 2; */

}

/* logo в header */
/* Установим max-width, вдруг поменяют лого, чтобы он не вылез за header */
.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

/* Текст под лого в header */
.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

/* Стили для "звоните нам" в header */
.subheader .subheader_call {
    display: block;
    margin-top: 24px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;  
    color: #FFFFFF;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 12px;
}

/* Стили для кнопки button  */
.subheader .subheader_button {
    margin-top: 22px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* Вторая секция "promo" */
.promo {
    /* height: calc(100vh - 53px); */
    padding: 155px 0 185px 0;
    min-height: 714px;
    background: url('../img/background_1/uber_bg.jpg') center center/cover no-repeat;

    /* Чтобы секцию видвинуть вверх, второй способ, вместо position:absolute, relative,
    Нужно сделать с помощью transform и добавить Z-index */
    /* transform: translateY(-87px); */
    /* Ну св-во закрыло шапку */
    /* z-index: 1; */
    /* А в .subheader ставим Z-index:2 и меняем position в subheader на relative*/
}
.promo .promo_header {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    color: #FFFFFF;
}

.promo .promo_subheader {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 22px;
}

.promo .promo_descriptions {
    margin-top: 16px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 116px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

/* секция "work" */
.work {
    min-height: 767px;
    padding: 18px 43px 64px 33px;

}
/* Секция "work" */
.label {
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    padding: 6px 0 8px 0;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-align: center;
}

.title {
    margin-top: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

/* Блок col-md-6 */
.work .reasons_block {
    
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 34px;
}
.work .reasons_block .reasons_round {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 113px;
    height: 113px;
    margin-right: 33px;
    background: #1EACC7;
    border-radius: 50%;
    
}

.work .reasons_block .reasons_round img {
    max-width: 113px;
        
}
.work .reasons_block .reasons_descriptions{
    width: 371px;      
}
.work .reasons_block .reasons_descriptions .reasons_title{
    font-style: normal;
    font-weight: 400;
    color: #1EACC7;
    font-size: 17px;
    line-height: 21px;
   
}

.work .reasons_block .reasons_descriptions .reasons_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}



